<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <style>
        html, body {
            height: 100%;
            background-color: #f6f6f6;
        }
    </style>
</head>
<body>
<div class="container-fluid" style="min-height: 95%">
    <div class="row">
        <div class="col-sm-2">
            <center><img src="{% static 'images/l.png' %}" class="responsive-img" style="max-height:150px"/></center>
        </div>
        <div class="col-sm-10">
            <center><h1>Blog làm từ Python Django</h1></center>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2">
            <div class="bs-slidebar" style="background-color: #fff">
                <nav class="nav flex-column">
                    <a class="nav-link active" href="#">Thông tin cá nhân</a>
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                    <a class="nav-link" href="{% url 'contact' %}">Liên hệ</a>
                    <a class="nav-link" href="course/">Course</a>
                </nav>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid">
                {% block content %}

                {% endblock %}
            </div>
        </div>
        <div class="col-sm-1">
            {% if user.username %}
                <p>Xin chào {{ user.username }}</p>
                <p><a href="{% url 'logout' %}">Đăng xuất</a></p>
            {% else %}
                <p><a href="{% url 'register' %}">Đăng ký</a></p>
                <p><a href="{% url 'login' %}">Đăng nhập</a></p>
            {% endif %}
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <a href="#">Facebook</a>|<a href="#">Twitter</a>|<a href="#">Google+</a>
    </div>
</footer>
</body>
</html>