<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% for key, value in form.error.items %}
            {{ value }}
        {% endfor %}

        <p><label>Tài khoản :</label>{{ form.username }}</p>
        <p><label>Mật khẩu :</label>{{ form.password }}</p>
        <input type="hidden" name="next" value="/" />
        <input type="submit" value="Đăng nhập" />
    </form>
</body>
</html>