<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center>
        <form action='/register' method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Đăng ký"/>
        </form>
    </center>
</body>
</html>