<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% if title == 'add_new' %}
        <form action="{% url 'add_new' %}" method="POST">
    {% else %}
        <form action="{% url 'edit' id%}" method="POST">
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" />
    </form>
</body>
</html>