<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
    Are you sure you want to delete "{{ course.title }}"?
    <form action="{% url 'delete' course.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" />
    </form>
</body>
</html>