<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<ul>
    {% for course in list %}
        <li>{{ course }} <a href="{% url 'edit' course.id %}">edit</a> <a href="{% url 'delete' course.id %}">delete</a></li>
    {% endfor %}
</ul>
<a href="{% url 'add_new'%}">New</a>
</body>
</html>